{% extends 'base.html.twig' %}

{% block title %}FichierDemande index{% endblock %}

{% block body %}
    <h1>Fichier Demande index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom Prénom</th>
            <th>Comptable associé</th>
            {% for fichier_demande in fichier_demandes %}
                <th>{{ fichier_demande.idFichier.nomFichier }}</th>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for fichier_demande in fichier_demandes %}
            <tr>
                <td>{{ fichier_demande.IdInfoClient }}</td>

                <td>{{ fichier_demande.idUser }}</td>
                <td>
                    {% if fichier_demande.isVerif() %}
                        <a href="{{ path('app_view_pdf', {'name': fichier_demande.getNomFichierDemande()}) }}"
                           target="_blank">{{ fichier_demande.idFichier.nomFichier }}</a>
                    {% else %}
                        X
                    {% endif %}
                </td>

                <td>
                    {% if fichier_demande.isVerif() %}
                        <a href="{{ path('app_view_pdf', {'name': fichier_demande.getNomFichierDemande()}) }}"
                           target="_blank">Cliquez ici</a>
                    {% else %}
                        X
                    {% endif %}
                </td>

                {#                <td>{{ fichier_demande.idFichier.nomFichier }}</td> #}
                <td>
                    {#                    <a href="{{ path('app_view_pdf', {'name': fichier_demande.getNomFichierDemande()}) }}" target="_blank">Cliquez ici</a> #}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fichier_demande_new') }}">Create new</a>
{% endblock %}
