{% extends 'base.html.twig' %}

{% block title %}FichierDemande index{% endblock %}

{% block body %}
    <h1>Liste Fichiers</h1> <br>

    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>Nom Prénom</th>
            <th>Comptable associé</th>
            <th>{% for fichier in fichiers %}
                    {{ fichier.getNomFichier() }}
                {% endfor %}</th>


        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.nom }} {{ client.prenom }}</td>
                <td>{{ client.idUser }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fichier_demande_new') }}">Create new</a>
{% endblock %}
