{% extends 'base.html.twig' %}

{% block title %}
    FichierDemande index
{% endblock %}

{% block body %}

    <h1>Fichier de l'entreprise {{ societe }}</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="p-5" style="border-radius: 10px; background-color: whitesmoke;">
                    <h2>Liste des fichiers bilans par années </h2>
                    <br>
                    {% for annee in annees %}
                        <a class="btn btn-dark"
                           href="{{ path('mesFichiersBilan',{ 'idClient': idClient,'id': annee.id }) }}">Année {{ annee.anneeBilan }}</a>
                    {% endfor %}
                    <br><br><br>
                    {% if fichier_demandes_sansClient !=null  %}
                    {{ form_start(form) }}
                    <h2>Inserer les fichiers</h2>

                    <label>Choisir un fichier</label>
                    <div class="list-group" style="width: 300px; margin-left: -40px">
                        <ol>
                            {% for fichier in form.id_fichier %}
                                <li class="list-group-item list-group-item-action"
                                    style=" text-align: center">{{ form_widget(fichier,{'attr':{'class': 'form-switch'  }}) }}{{ form_label(fichier) }}</li>

                            {% endfor %}
                        </ol>
                    </div>
                    {{ form_row(form.nom_fichier_demande, {'attr': {'class': 'form-control mt-2', 'type': 'file'}}) }}
                    <br>
                    {{ form_label(form.verif) }}
                    {{ form_widget(form.verif) }}
                    <br><br>
                    <button class="btn btn-dark" type="submit">{{ button_label|default('Enregistrer') }}</button>
                    <a href="{{ path('app_fichier_demande_index') }}" class="btn btn-dark">Retour </a>
                    {{ form_end(form) }}
                    {% endif %}
                </div>
                <div style="margin-top: 110px">
                    <h2>fichiers dossier permanent a inséré </h2>
                    <table class="table">
                        <thead>
                        <tr class="table-dark">
                            <th>Nom_fichier</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fichier_demande in fichier_demandes %}
                            <tr>
                                <td>{{ fichier_demande.idFichier.nomFichier }}</td>
                                <td>
                                    <a href="{{ path('app_view_pdf', {'name': fichier_demande.getNomFichierDemande()}) }}"
                                       target="_blank">
                                        <svg style="width: 1em; height: 1em; vertical-align: middle; fill: currentColor; overflow: hidden;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                            <path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"/>
                                        </svg>
                                    </a>
                                    <div style="margin-left: 10px; margin-top: -31px">{{ include('fichier_demande/_delete_form.html.twig') }}</div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2">Aucun enregistrement trouvé</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-6">
                <div class="p-5" style="border-radius: 10px; background-color: whitesmoke;">
                    <div class="form-group mb-4" style="margin-top: 155px">
                        {% if fichier_bilan_sansClient !=null  %}
                        {{ form_start(formBilan) }}
                        <h2>fichier bilan a inséré</h2>
                        <div class="form-group mb-4">
                            <label>Choisir un fichier</label>
                            <div class="list-group" style="width: 300px; margin-left: -40px">
                                <ol>
                                    {% for fichier in formBilan.id_fichier_bilan %}
                                        <li class="list-group-item list-group-item-action"
                                            style="text-align: center">{{ form_widget(fichier, {'attr': {'class': 'form-switch'}}) }}{{ form_label(fichier) }}</li>
                                    {% endfor %}
                                </ol>
                            </div>
                            {{ form_row(formBilan.id_annee, {'attr': {'class': 'form-control mt-2'}}) }}

                            <br>
                            <div class="form-group">
                                {{ form_row(formBilan.nom_fichier_bilan, {'attr': {'class': 'form-control mt-2', 'type': 'type'}}) }}
                                <br>
                                {{ form_label(formBilan.verif_bilan) }}
                                {{ form_widget(formBilan.verif_bilan) }}
                            </div>
                            <br>
                            <button class="btn btn-dark"
                                    type="submit">{{ button_label|default('Enregistrer') }}</button>
                            <a href="{{ path('app_fichier_bilan_index') }}" class="btn btn-dark">Retour </a>
                        </div>
                        {{ form_end(formBilan) }}
                        {% endif %}
                    </div>


                    <br><br><br>
                    <div style="margin-top: -55px">
                        <h2>Liste des fichiers Bilans </h2>
                        <table class="table">
                            <thead>
                            <tr class="table-dark">
                                <th>Nom_fichier</th>
                                <th>année</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for fichier_bilan in fichier_bilans %}
                                <tr>
                                    <td>{{ fichier_bilan.idFichierBilan.getFichierBilan }}</td>
                                    <td>{{ fichier_bilan.getidannee }}</td>
                                    <td>
                                        <a href="{{ path('app_view_pdf', {'name': fichier_bilan.getNomFichierBilan()}) }}"
                                           target="_blank">
                                            <svg style="width: 1em; height: 1em; vertical-align: middle; fill: currentColor; overflow: hidden;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                <path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"/>
                                            </svg>
                                        </a>
                                        <div style="margin-left: 10px; margin-top: -31px">{{ include('fichier_bilan/_delete_form.html.twig') }}</div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">Aucun enregistrement trouvé</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
