{% extends 'base.html.twig' %}

{% block title %}
    FichierDemande index
{% endblock %}

{% block body %}

    <h1>Fichier de l'entreprise {{ societe }}</h1>

    <br><br><br>
    <h2>Liste des fichiers par bilans </h2> <br>
{#        <label >Sélectionnez une année :</label>#}
    {% for annee in annees %}
{#        {% for client in clients %}#}
        <a class="btn btn-dark"  href="{{ path('mesFichiersBilan',{ 'idClient': idClient,'id': annee.id }) }}">Année {{ annee.anneeBilan }}</a>
{#        {% endfor %}#}
    {% endfor %}
    <br><br><br>
    <h2>Inserer les fichiers bilans </h2>
    {{ form_start(form) }}

    <div class="p-5" style="width: 800px; background-color: whitesmoke">

    <div>
    <div class="form-group mb-4">
        {#            {{ form_label(form.id_fichier_bilan, 'Choisir un client', {'label_attr': {'class': 'text-right'}}) }}#}




        {{ form_row(form.id_annee, {'attr': {'class': 'form-control mt-2'}}) }}


        {{ form_row(form.id_fichier_bilan, {'attr': {'class': 'form-control mt-2'}}) }}


        <br>
        <div class="form-group">

            {{ form_row(form.nom_fichier_bilan, {'attr': {'class': 'form-control mt-2', 'type': 'type'}}) }}
            <br>
            {{ form_row(form.verif_bilan) }}
        </div>
        <br>
        <button class="btn btn-dark" type="submit">{{ button_label|default('Enregistrer') }}</button>
        <a href="{{ path('app_fichier_bilan_index') }}" class="btn btn-dark">Retour </a>



    </div>
    <br><br>

    {{ form_end(form) }}

    <h2>Liste des fichiers </h2>

    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>Nom_fichier</th>
            <th>Voir PDF</th>
        </tr>
        </thead>
        <tbody>
        {% for fichier_demande in fichier_demandes %}
            <tr>
                <td>{{ fichier_demande.idFichier.nomFichier }}</td>
                <td>
                    <a href="{{ path('app_view_pdf', {'name': fichier_demande.getNomFichierDemande()}) }}"
                       target="_blank">
                        Voir le PDF
                    </a>
                    {{ include('fichier_demande/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br><br>

    <h2>Liste des fichiers bilans </h2>

    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>Nom_fichier</th>
            <th>année</th>
            <th>Voir PDF</th>
        </tr>
        </thead>
        <tbody>
        {% for fichier_bilan in fichier_bilans %}
            <tr>
                <td>{{ fichier_bilan.idFichierBilan.getFichierBilan }}</td>
                <td>{{ fichier_bilan.getidannee }}</td>
                <td>
                    <a href="{{ path('app_view_pdf', {'name': fichier_bilan.getNomFichierBilan()}) }}"
                       target="_blank">
                        Voir le PDF
                    </a>
                    {{ include('fichier_bilan/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}