{% extends 'base.html.twig' %}

{% block title %}
    FichierDemande index
{% endblock %}

{% block body %}

    <h1>Fichier de {{ societe }}</h1>

    <br><br><br>
    <h2>Liste des fichiers par bilans </h2> <br>
        <form action="{{ path('app_AnneeBilan_new') }}" method="get">
{#        <label >Sélectionnez une année :</label>#}
    {% for annee in annees %}
{#        {% for client in clients %}#}
        <a class="btn btn-dark"  href="{{ path('mesFichiersBilan', { 'id': annee.id, 'anneeBilan': annee.anneeBilan }) }}">Année {{ annee.anneeBilan }}</a>
{#        {% endfor %}#}
    {% endfor %}


    <br><br><br>
    <h2>Inserer les fichiers bilans </h2>

    <div class="p-5" style="width: 800px; background-color: whitesmoke">
        <table>
            <form action="" method="get" enctype="multipart/form-data">
                <table>
                    <tbody>
                    {% for fichier in bilans %}
                        <tr>
                            <td>{{ fichier.fichierBilan }}</td>
                            <td>
                                <input type="file" name="fichier_bilan" class="form-control mt-2"/>
                                <br>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <input type="checkbox" name="verif" class="form-check-input"/>

                <button class="btn btn-dark" type="submit">Enregistrer</button>
            </form>


        </table>
    </div>
    <br><br><br>
    <h2>Liste des fichiers </h2>

    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>Nom_fichier</th>
            <th>Voir PDF</th>
        </tr>
        </thead>
        <tbody>
        {% for fichier_demande in fichier_demandes %}
            <tr>
                <td>{{ fichier_demande.idFichier.nomFichier }}</td>
                <td>
                    <a href="{{ path('app_view_pdf', {'name': fichier_demande.getNomFichierDemande()}) }}"
                       target="_blank">
                        Voir le PDF
                    </a>
                    {{ include('fichier_demande/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}