{% extends 'base.html.twig' %}

{% block title %}
    FichierDemande index
{% endblock %}

{% block body %}

    <h1>Fichier de {{ nomClient }} {{ prenomClient }}</h1>

    {#    {{ form_label(form.bilan.anneeBilan, 'Choisir une année', {'label_attr': {'class': 'text-right'}}) }} #}
    {#    {{ form_row(form.bilan.anneeBilan, {'attr': {'class': 'form-control mt-2'}}) }} <br> #}
    <br><br><br>
    <h2>Liste des fichiers par bilans </h2>
    <form action="{{ path('app_AnneeBilan_new') }}" method="get">
        <label for="anneeSelect">Sélectionnez une année :</label>
        <select id="anneeSelect" name="annee">
            {% for annee in annees %}
                <option value="{{ annee.anneeBilan }}">Année {{ annee.anneeBilan }}</option>
            {% endfor %}
        </select>
{#        <a href="{{ path('mesFichiers', {'id': id}) }}" class="btn btn-dark">Voir</a>#}
    </form>
    <br><br><br>
    <h2>Inserer les fichiers bilans </h2>

    <div class="p-5" style="width: 800px; background-color: whitesmoke">
        <table>
            <tbody>
            {% for fichier in bilans %}
                <tr>
                    <td>{{ fichier.fichierBilan }}</td>
                    <td>
                        <input type="file" name="nom_fichier_bilan" id="fichier_bilan" class="form-control mt-2"/>
                        <br>
                        <input type="checkbox" name="verif" class="form-check-input"/>
                        <button class="btn btn-dark" type="submit">Enregistrer</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br><br><br>
    <h2>Liste des fichiers </h2>

    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>Nom_fichier</th>
            <th>Voir PDF</th>
        </tr>
        </thead>
        <tbody>
        {% for fichier_demande in fichier_demandes %}
            <tr>
                <td>{{ fichier_demande.idFichier.nomFichier }}</td>
                <td>
                    <a href="{{ path('app_view_pdf', {'name': fichier_demande.getNomFichierDemande()}) }}"
                       target="_blank">
                        Voir le PDF
                    </a>
                    <a href="{{ path('app_fichier_demande_delete', {'id': fichier_demande.id}) }}">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
