{{ form_start(form, {'attr': {'class': 'p-5', 'style': 'max-width: 800px; background-color: whitesmoke;'}}) }}
{{ form_label(form.nom_fichier) }}
{{ form_widget(form.nom_fichier, {'attr': {'class': 'form-control mt-2','style': 'border: 1px solid;'}}) }}<br>
<button class="btn btn-dark">{{ button_label|default('Enregistrer') }}</button>
<a href="{{ path('app_fichier_index') }}" class="btn btn-dark">back to list</a>
{{ form_end(form) }}
