{% extends 'base.html.twig' %}

{% block title %}FichierBilan index{% endblock %}

{% block body %}
    <div style="display: flex">
        <h1>Liste des Fichiers Bilan par année </h1>
{#        <a href="{{ path('app_fichier_bilan_new') }}" class="btn btn-dark" style="position: relative; left: 50%">Insérer un Fichier</a>#}
    </div><br>

    <table class="table">
        <thead>
        <tr class="table-dark">
{#            <th>Nom Prénom</th>#}
{#            <th>Comptable associé</th>#}
            <th>
                {% for bilan in bilans %}
            <td>{{  bilan.getFichierBilan() }}</td>
            {% endfor %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% if nomClients is not empty %}
            {% for client in nomClients %}
                <tr>
                    <td>
                        {% for fichier_bilan in bilans %}
                            {% if fichier_bilan.idInfoClient.id == client.id %}
                                <a href="{{ path('app_view_pdf', {'name': fichier_bilan.getNomFichierBilan()}) }}" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                        <!-- Ajoutez ici le contenu du SVG -->
                                    </svg>
                                </a>
                                ✅
                            {% else %}
                                ❌
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ client.idUser }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endif %}
        </tbody>

    </table>


{#    <a href="{{ path('app_fichier_bilan_new') }}">Create new</a>#}
{% endblock %}
