{% extends 'base.html.twig' %}

{% block title %}FichierBilan index{% endblock %}

{% block body %}
    <h1>Fichier Bilan index</h1>

    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>Nom Prénom</th>
            <th>Comptable associé</th>
            <th>
                {% for fichierNomBilan in fichiers %}
            <td>{{  fichierNomBilan.getFichierBilan() }}</td>
            {% endfor %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.nom }} {{ client.prenom }}</td>
                <td>{{ client.idUser }}</td>
                <td>
                    {% for fichier_bilan in fichier_bilans %}
                        <td>
                    {% if fichier_bilan.verifBilan == 1 %}
                        ✅
                    {% else %}
                        ❌
                    {% endif %}
                    </td>
                    {% endfor %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('app_fichier_bilan_new') }}">Create new</a>
{% endblock %}
